body{
    background-color: rgb(233, 147, 147);
}


h1{
    color: lightyellow;
    text-align: center;
}
h2{
    color: rgb(255, 255, 200);
    text-align: center;
}

a.data{
    text-decoration: none;
    font-size: 20px;
    margin-left: 45%;
    text-align: center;
    color:rgb(250, 250, 114);
    background-color: rgb(200, 209, 162);
    padding: 10px;
    border-radius: 10px;
    
}