<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/ty.css') }}">
</head>
<body>
    <h1>THANK YOU </h1> 
    <h2>You will receive an email soon !</h2>
    <p><iframe src = "https://www.lindora.com/2020/09/17/body-mass-index-bmi-what-is-it-and-why-is-it-important/" height = "400" width = "500"></iframe></p> <br>


    <div class = "center"><a class="data" href = "{{url_for('index')}}" >Return Home</a></div>
    


</boy>
</html>